*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-height: 26.4px;
    font-size: 16px;
    color: #EAEAEA;
}

body img{

    filter: contrast(50%);
}
.formContent{
 /* margin-top: 20%; */
 /* color: white; */
 padding-left: 25px;
 padding-top: 20%;
 height: 87vh;
}

.formContent p{
    margin-top: 10px;
}

.formContent h1{
    font-size: 52px;
    font-weight: 65px
}


.inputSection{
    margin-top: 20px;
}

.inputSection button{
    background-color:#1cb495;
    /* color: white; */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;

}



.inputSection input{
    background-color: #000000;
    color: gray;
    padding: 5px;

    border:none;
    border: 1px solid white;
        border-radius: 5px;

}

input::placeholder {
    margin-left: 10px;
    font-weight: bold;
        font-family: 'Roboto', sans-serif;

}

body {
 background-image: url("./assets/images/bg01.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
footer{
  padding-left: 25px;
  height: 10vh;
  /* margin-top: 60%;     */
}
.icon{
font-size: 30px;    
width: 500px;
    color: white;
}

@media only screen and (max-width: 600px) {
  body {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  }

  img{
  filter: grayscale(10%);
  }

  /* .inputSection{
      display: flex;
      flex-direction: columns;
      background-color: red;
  } */

  .inputSection input{
   display: block;
   margin-bottom: 20px;
   width: 80%;
}
}